<!DOCTYPE html>
<html>
<head>
  <title><%= app_title %></title>
  <script src="<%= "#{enyo_root}enyo/0.10/framework/enyo.js" -%>" type="text/javascript" enyo="true"></script>
  <%= eris_helper_tags %>
  <%= app_helper_tag %>
  <% if launch_params %>
    <script type="text/javascript" launch-params="true">
      relaunchWithParams('<%= launch_params %>');
    </script>
  <% end %>
</head>
<body>
<div id="app-container" class="enyo-fit"></div>
<script type="text/javascript">
  app.go();
</script>
</body>
</html>
